<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>탄소중립포인트란?</title>
</head>
    <body>
        <h1>탄소중립포인트 녹색생활 실천이란?</h1>
        <p>일반국민의 탄소중립 생활 실천문화 확산을 위하여 다양한 민간기업의 친환경활동 이용 시 이용실적에 따라 인센티브를 지원하는 제도</p>

        <h2>참여대상</h2>
        <p>일상생활속에서 친환경 활동을 실천하는 국민</p>

        <h2>참여방법</h2>
        <p>탄소중립포인트 녹색생활 실천 누리집 회원가입을 통한 참여</p>

        <h2>실천항목</h2>
        <p>전자영수증 발급, 텀블러·다회용컵 이용, 일회용컵 반환, 리필스테이션 이용, 일회용컵 반환, 다회용기 이용, 무공해차 대여, 친환경제품 구매, 고품질 재활용품 배출, 폐휴대폰 반납, 미래세대실천행동</p>

        <h2>참여혜택</h2>
        <p>현금, 참여기업 / 카드사 포인트 (1인당 최대 7만원 지원)</p>
    </body>
</html>